@page "/"
@namespace Optimiser.Web.Pages
@using GeneralComponents
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blazor-SSE</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/spinner.min.css" />
    <link rel="stylesheet" href="_content/GeneralComponents/GeneralComponents.Styles.min.css" />
</head>
<body>
    <app>
        <!-- SSE -->
        <app>
            @(await Html.RenderComponentAsync<App>(RenderMode.Server))
        </app>
        <script src="_content/GeneralComponents/GeneralComponents.DOMHelpers.js"></script>
        <script src="_framework/blazor.server.js"></script>
</body>
</html>
