@page "/aboutview"
@using System.Runtime.InteropServices

<h1>About</h1>

<ul>
    <li>@pVersion</li>

    <li>This application was built in <strong>@pMode</strong> mode and is currently executing on <strong>@pRuntime</strong> hosted by <strong>@pOSDescription/@pOSArchitecture</strong>.</li>
</ul>