@page "/aboutview"
@using System.Runtime.InteropServices

<h1>About</h1>

<h2>Version 2020-03-11</h2>

<h3>Currently executing on <strong>@runtime</strong>.</h3>

@functions {
    string runtime = RuntimeInformation.IsOSPlatform(OSPlatform.Create("WEBASSEMBLY"))
        ? "Mono WebAssembly"
        : ".NET Core";
}
