@page "/aboutview"
@using System.Runtime.InteropServices

<h1>About</h1>

<h2>Version 2020-06-25</h2>

<h3>Currently executing on <strong>@pRuntime</strong> built in <strong>@pMode</strong> mode.</h3>
