@import 'GeneralComponents.Constants.scss';
@import '../GCButton/GCButton.scss';
@import '../GCDialog/GCDialog.scss';
@import '../GCModal/GCModal.scss';
@import '../GCNavMenu/GCNavMenu.scss';

html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.opti-main {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.opti-main-div-menu {
    width: 100%;
}

.opti-main-div-body {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
}
